<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/question/layout}">
	<div layout:fragment="content" class="container my-3">
		<h1>/question/list.html</h1>
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th>제목</th>
					<th style="width: 50%">작성자</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:each="question, loop : ${paging}">
					<!-- <td th:text="${loop.count}"></td> -->
					<td th:text="${question.id}"></td>
					<!-- <td><a href="/question/detail/${question.id}" th:text="${question.subject}"></a></td> -->
					<!-- #lists.size() 타임리프 메서드 -->
					<td th:with="asize=${#lists.size(question.answerList)}">
		             <!-- <a href="/question/detail/${question.id}" th:text="${question.subject}"></a> -->
		             <!-- <a th:href="@{/question/detail/${question.id}}" th:text="${question.subject}"></a> -->
		             <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
		             <!-- #lists.size() 타임리프의 기능을 사용하면  반복객체의 크기  -->
		             <span class="text-danger small ms-2" th:if="${asize >0}" th:text="|(${asize})|"></span>
		           </td>
		           <!-- 글쓴이 추가 -->
		           <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
					<!--   위와 같은 방법 |~~~~~~~|  -->
					<!-- <td><a th:href="@{/question/detail/{id}(id=${question.id})}" th:text="${question.subject}"></a></td> -->
					<!-- #temporals.format() -->
					<td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
					<!-- <td th:text="${question.createDate}"></td> -->
					<!-- <td>[[${question.createDate}]]</td> -->
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 블럭 생성 start  1 2 3 4 5 6 7 [8] 9 10 -->
		<!-- th:classappend="${!paging.hasPrevious} ? 'disabled'" 조건식임 -->
		<div th:if="${!paging.isEmpty()}">
		        <ul class="pagination justify-content-center">
		            <li class="page-item" th:if="${pageMaker.prev}">
		                <a class="page-link" th:href="@{|?page=${pageMaker.startPage-2}|}">
		                    <span>이전</span>
		                </a>
		            </li>
		            <li th:each="page: ${#numbers.sequence( pageMaker.startPage, pageMaker.endPage)}"
		                th:classappend="${page == paging.number+1} ? 'active'" 
		                class="page-item">
		                <a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
		            </li>
		            <li class="page-item" th:if="${pageMaker.next}">
		                <a class="page-link" th:href="@{|?page=${pageMaker.endPage}|}">
		                    <span>다음</span>
		                </a>
		            </li>
		        </ul>
		    </div>
		<!-- 페이징 블럭 생성 end -->
		
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록</a>
	</div>
</html>