<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{/question/layout}">
<div layout:fragment="content" class="container my-3">
	<h1>/question/list.html</h1>
	<br>
	<!-- 검색부분 -->
	<div class="row my-3">
		<div class="col-6">
			<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
		</div>
		<div class="col-6">
			<div class="input-group">
				<input type="text" id="search_kw" class="form-control"
					th:value="${kw}">
				<button class="btn btn-outline-secondary" type="button"
					id="btn_search">찾기</button>
			</div>
		</div>
	</div>
	<!-- 검색부분 -->
	<table class="table">
		<thead class="table-dark">
			<tr class="text-center">
				<th>번호</th>
				<th>제목</th>
				<th style="width: 50%">작성자</th>
				<th>작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" th:each="question, loop : ${paging}">
				<!-- <td th:text="${loop.count}"></td> -->
				<td th:text="${question.id}"></td>
				<!-- <td><a href="/question/detail/${question.id}" th:text="${question.subject}"></a></td> -->
				<!-- #lists.size() 타임리프 메서드 -->
				<td th:with="asize=${#lists.size(question.answerList)}">
					<!-- <a href="/question/detail/${question.id}" th:text="${question.subject}"></a> -->
					<!-- <a th:href="@{/question/detail/${question.id}}" th:text="${question.subject}"></a> -->
					<a th:href="@{|/question/detail/${question.id}|}"
					th:text="${question.subject}"></a> <!-- #lists.size() 타임리프의 기능을 사용하면  반복객체의 크기  -->
					<span class="text-danger small ms-2" th:if="${asize >0}"
					th:text="|(${asize})|"></span>
				</td>
				<!-- 글쓴이 추가 -->
				<td><span th:if="${question.author != null}"
					th:text="${question.author.username}"></span></td>
				<!--   위와 같은 방법 |~~~~~~~|  -->
				<!-- <td><a th:href="@{/question/detail/{id}(id=${question.id})}" th:text="${question.subject}"></a></td> -->
				<!-- #temporals.format() -->
				<td
					th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
				<!-- <td th:text="${question.createDate}"></td> -->
				<!-- <td>[[${question.createDate}]]</td> -->
			</tr>
		</tbody>
	</table>

	<!-- 페이징 블럭 생성 start  1 2 3 4 5 6 7 [8] 9 10 -->
	<!-- th:classappend="${!paging.hasPrevious} ? 'disabled'" 조건식임 -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:if="${pageMaker.prev}"><a
				class="page-link" href="javascript:void(0)"
				th:data-page="${pageMaker.startPage-2}"> <span>이전</span>
			</a></li>
			<li th:each="page: ${#numbers.sequence( pageMaker.startPage, pageMaker.endPage)}"
				th:classappend="${page == paging.number+1} ? 'active'"
				class="page-item"><a href="javascript:void(0)"
				th:text="${page}" class="page-link" th:data-page="${page-1}"></a></li>
			<li class="page-item" th:if="${pageMaker.next}"><a
				href="javascript:void(0)" class="page-link"
				th:data-page="${pageMaker.endPage}"> <span>다음</span>
			</a></li>
		</ul>
	</div>
	<!-- 페이징 블럭 끝 -->
	<!-- 페이징 블럭 생성 end -->

	<a th:href="@{/question/create}" class="btn btn-primary">질문 등록</a>

	<form th:action="@{/question/list}" method="get" id="searchForm">
		<input type="hidden" id="kw" name="kw" th:value="${kw}"> <input
			type="hidden" id="page" name="page" th:value="${paging.number}">
	</form>
</div>

<!-- 찾기(검색) 버튼 처리 -->
<script layout:fragment="script">
	const page_elements = document.getElementsByClassName("page-link");
	Array.from(page_elements).forEach(function(element) {
	    element.addEventListener('click', function() {
	        document.getElementById('page').value = this.dataset.page;
	        document.getElementById('searchForm').submit();
	    });
	});
	const btn_search = document.getElementById("btn_search");
	btn_search.addEventListener('click', function() {
	    document.getElementById('kw').value = document.getElementById('search_kw').value;
	    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
	    document.getElementById('searchForm').submit();
	});
	</script>
</html>