<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<link href="/resources/dipin/example.css" type="text/css" rel="stylesheet" />
<script   src="/resources/dipin/example.js"></script>
</head>
<body>
   <div>
<h1 class-'main'>JSP DEPT LIST</h1>
<table border="1" style="width: 100%;">
   <tr>
     <th>deptno</th>
     <th>dname</th>
     <th>loc</th>
   </tr>
   <!--<c:forEach items="${list}" var="vo">-->
   <!--http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#iteration-->
   <tr th:each="vo:${list}">
   <td th:text="${vo.deptno}"></td>
   <td th:text="${vo.dname}"></td>
   <td th:text="${vo.loc}"></td>
   </tr>
   <!--</c:forEach>-->
 </table>
 
 <a th:href="@{/index}">home</a>
 
</div>

</body>
</html>
