<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/question/layout}">
<div layout:fragment="content" class="container my-3">
	<h1>/question/create.html</h1>
	<br>
	<h5 class="my-3 border-bottom pb-2">질문등록</h5>
	<form th:action="@{/question/create}" method="post" th:object="${questionForm}">
		<!-- 유효성 검사 실패 메시지 출력 -->
		<!-- class="alert alert-danger" role="alert" 부트스트랩 관련 속성 -->
		<!-- #fields.hasAnyErrors() 검증에 실패한 유효성 검사한 오류 메시지를 저장 -->
		<!-- 반드시 th:object 속성을 설정해야 된다.
				<form>의 입력항목들이 QuestionForm 과 연결된다는 점을 타임리프에 알려주는 역할...
		 -->
		 <!-- 
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
	 	-->
	 	<div th:replace="~{/question/form_errors :: formErrorsFragment}"></div>
		 
		<div class="mb-3">
			<label for="subject" class="form-label">제목</label>
			 <!-- th:field 속성 설정 : id, name, value 모두 자동으로 생성.. -->
			<input type="text" th:field="*{subject}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내용</label>
			<textarea th:field="*{content}" class="form-control" rows="10"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>
</html>